<li>
  <div class="game-item" data-id=<%= game.id %> data-name="<%= game.name %>">
    <%= game.name %> - <%= game.description %>
  </div>
  <button class="btn" id="edit-game">Edit</button>
  <button class="btn" id="delete-game">Delete</button>
</li>
